#box_index{
    height:2500px;
}

#content_index{
    width:768px;
    height:90%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 18% 18% 24% 18% 18% 6%;
    grid-template-areas: 
    "p1"
    "p2"
    "welcome"
    "p3"
    "p4"
    "b1";
}

h2{
    font-size:500%;
}

p{
    font-size:200%;
}