/* -------- body & index -------- */

body{
    margin:0;
    background-color:#32738C;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    width:100%;
    height:100px;
    top:0;
    position:fixed;
    min-height: 30px;
    margin-top:0px;
    background-color:#32738C;
    text-align:center;
    opacity:1;
}

header p{
    font-family:'odibee_regular';
    font-size:300%;
    margin-top:25px;
    color:#fff;
}

h2{
    font-family:'odibee_regular';
    font-size:380%;
    
    margin-top:0px;
    margin-bottom:0px;
}

p{
    margin-top:0px;
    font-family: 'noto_regular';
    font-size:150%;

}

a{
    text-decoration: none;
}

/* -------- box_index & content_index -------- */

#box_index{
    background-image:url(back2.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:1700px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0;
}

#content_index{
    width:100%;
    height:90%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 38% 15% 15% 2%;
    grid-template-areas: 
    "p1"
    "p2"
    "welcome"
    "p3"
    "p4"
    "b1";
}

/* -------- pictures & welcome -------- */

.pictures_index{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.pictures_index img{
    width:80%;
    
}

 img:hover{
    opacity:0.6;
    cursor:pointer;
}

#picture1{
    grid-area:p1;
}

#picture2{
    grid-area: p2;
}

#picture3{
    grid-area:p3;
}

#picture4{
    grid-area:p4;
}

#welcome{
    grid-area:welcome;
    
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    width:100%;
    margin-top:0px;
    text-align:justify;
     
}

#a_welcome{
    margin-top:100px;
    grid-area:b1;
    justify-self: center;
    align-self:center;
}

.welcome_text{
    color:#fff;  
    padding:10px;
}


#start_link_a{
    background-color:#32738C;
    width:300px;
    height:75px;
    color:white;
    text-align:center;
    
    padding-top:1px;
    
}

#start_link_a:hover{
    cursor:pointer;
    background-color:white;
    border:1px solid #BFAC95;
    
}

#start_link_a:hover #start_link{
    color:#BFAC95;
}

#start_link{
    font-family:'noto_bold';
    color:white;
    font-size:150%;
    margin-bottom:0px;
    margin-top:20px;
}

#p_back{
    background-color:#32738C;
    height:81%;
}

/* -------- box -------- */



#back{
    background-image:url(back2.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0;
}

#box{
    width:100%;
    height:1300px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:15% 5% 5% 70% 10%;
    grid-template-areas:
    "."
    "menu"
    "."
    "article"
    ".";
}

#menu{
    grid-area: menu;
    width:100%;
    background-color:#32738C;
    display:grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows:100%;
}


.menu_a{
    text-align: center;
    border:3px solid #2a4155;
}

.active{
    background-color:#BFAC95;
    border:3px solid #A67E5B;
}

.menu_a a p{
    color:#fff;
    font-family:'odibee_regular';
    font-size:200%;

}

article{
    grid-area: article;
    width:100%;
    background-color:#32738C;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:33% 33% 33%;
    
}

#about{
    grid-area: article;
    width:100%;
    background-color:#32738C;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:50% 50%;
    
}

#about div{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}

.about_img{
    width:90%;
    border:4px solid #1e597e;
}

.about_p{
    font-size:125%;
    margin-top:0px;
    font-family: 'noto_regular';
}

.offer{
    width:90%;
    text-align:center;
    border:1px solid #fff;
    justify-self: center;
    align-self:center;
    margin-top:20px;
}

.offer:hover{
    background-color:#639CBF;
}


.price{
    margin-top:0px;
    font-family: 'aleo_italic';
    font-size:150%;
    
}

.offer_p{
    margin-top:0px;
    font-family: 'noto_regular';
    font-size:100%;
    
}












/* -------- footer -------- */
footer{
    
    width:100%;
    height:40px;
    min-height: 30px;
    margin-top:0px;
    background-color:#32738C;
    text-align:center;
}

#footer_p{
    font-size:16px;
    color:white;
    font-family:'aleo_italic';
}

/* -------- lgihtbox -------- */

.lightbox{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.visible{
    display:flex;
}

.of_none{
    overflow:hidden;
}

#lightbox-image{
    width:70%;
    max-width: 1000px;
}

/* -------- fonts -------- */

@font-face {
    font-family: noto_regular;
    src: url(NotoSans-Regular.ttf);
}

@font-face {
    font-family: noto_bold;
    src: url(NotoSans-Bold.ttf);
}

@font-face {
    font-family: noto_italic;
    src: url(NotoSans-Italic.ttf);
}

@font-face {
    font-family: aleo_italic;
    src: url(Aleo-Italic.ttf);
}

@font-face {
    font-family: odibee_regular;
    src: url(OdibeeSans-Regular.ttf);
}



/* index, about us   (start, do tego obrazy), oferty, kontakt */

/* przeskalować obrazy do jednej rozdzielczosci */
/* 1000x626 */

/* blur 
3 oferty
 - basic 4x 50$ per hour (bazowe rzeczy dla kazdego itp)
 - advanced 100% per hour
 - pro (jakistam dostep do kalkulatorow, bazy z informacjami nt liczb, wykresow itp) */

 /* // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) { ... }
 
 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) { ... }
 
 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) { ... }
 
 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) { ... } */