/* -------- body & index -------- */

body{
    margin:0;
    background-color:#32738C;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    width:100%;
    height:100px;
    top:0;
    position:fixed;
    min-height: 30px;
    margin-top:0px;
    background-color:#32738C;
    text-align:center;
    opacity:1;
    border-bottom:3px solid #2a4155;
    z-index:500;
}

header p{
    font-family:'odibee_regular';
    font-size:300%;
    margin-top:25px;
    color:#fff;
}

h2{
    font-family:'odibee_regular';
    font-size:350%;
    
    margin-top:0px;
    margin-bottom:0px;
}

p{
    margin-top:0px;
    font-family: 'noto_regular';
    font-size:150%;

}

a{
    text-decoration: none;
}

/* -------- box_index & content_index -------- */

#box_index{
    background-image:url(back2.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:1700px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0;
}

#content_index{
    width:100%;
    height:90%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 14% 11% 53% 12% 12%;
    grid-template-areas: 
    "p1"
    "p2"
    "welcome"
    "p3"
    "p4";
}

/* -------- pictures & welcome -------- */

.pictures_index{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.pictures_index img{
    width:80%;
    
}

#content_index img:hover, #content_index img:active, #contact_pic img:hover, #contact_pic img:active, #about img:hover, #about img:active{
    opacity:0.6;
    cursor:pointer;
}

#picture1{
    grid-area:p1;
}

#picture2{
    grid-area: p2;
}

#picture3{
    grid-area:p3;
}

#picture4{
    grid-area:p4;
}

#welcome{
    grid-area:welcome;
    
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    margin-top:0px;
    text-align:justify;
     
}

#a_welcome{
    margin-top:100px;
    grid-area:b1;
    
    
}

.welcome_text{
    color:#fff;  
    padding:10px;
}


#welcome_button{
    height:50px;
    width:138px;
    background-color: Transparent;
    border:0;
    background-image:url('button_achi.png');
    background-repeat:no-repeat;
    transition-property: height;
    transition-duration: 1s;
    transition-delay: 0s;
    
    background-size:cover;
   
}

#welcome_button:hover, #welcome_button:active{
    
    cursor:pointer;
    height:85px;
}

#p_back{
    background-color:#32738C;
    height:81%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* -------- box -------- */


#back{
    background-image:url(back2.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0;
}

#box{
    width:100%;
    height:1300px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:15% 5% 5% 72% 8%;
    grid-template-areas:
    "."
    "menu"
    "."
    "article"
    ".";
}


/* -------- menu -------- */


#menu{
    grid-area: menu;
    width:100%;
    background-color:#32738C;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:100%;
}


#menu a{
    text-align: center;
    border:3px solid #2a4155;
}

.active{
    background-color:#BFAC95;
    border:3px solid #A67E5B;
}

.menu_a p{
    color:#fff;
    font-family:'odibee_regular';
    font-size:200%;
    
}


/* -------- article, about, contact -------- */

#offer_main{
    display:none;
}

article{
    grid-area: article;
    width:100%;
    background-color:#32738C;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:1fr 1fr 1fr;
    border:3px solid #2a4155;
}

#about{
    grid-area: article;
    width:100%;
    background-color:#32738C;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:45% 27% 27%;
    border:3px solid #2a4155;
}

#contact{
    grid-area: article;
    width:100%;
    background-color:#32738C;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:30% 30% 30%;
    border:3px solid #2a4155;
}

#about div{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
}

.about_img{
    width:90%;
    border:4px solid #1e597e;
}

.about_p{
    font-size:125%;
    margin-top:0px;
    font-family: 'noto_regular';
}

#btn_change{
    width:138px;
    height:56px;
    border:0px;
    background-color:transparent;
    background-image: url('button_change.png');
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
    font-family: 'noto_bold';
}

#btn_change:hover, #btn_change:active{
    cursor:pointer;
    opacity:0.8;
}

#best{
    font-family: 'noto_bold';
}

.offer{
    width:90%;
    text-align:center;
    border:1px solid #fff;
    justify-self: center;
    align-self:center;
    margin-top:20px;
}

.offer:hover{
    background-color:#639CBF;
}


.price{
    margin-top:0px;
    font-family: 'aleo_italic';
    font-size:150%;
    
}

.offer_p{
    margin-top:0px;
    font-family: 'noto_regular';
    font-size:100%;   
}

.offer_pic{
    display:none;
}

.offer .offer_pic img{
    border:4px solid #A67E5B;
}

#info p{
    font-size:200%;
    margin-top:0px;
    font-family: 'noto_regular';
    color:#fff;
    padding:3px;
    text-align: center;
    word-break: break-all;
}


#contact_form form{
    height:70%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#contact_form input{
    width:200px;
    height:20%;
    font-family: 'noto_bold';
    
}

#contact_form #submit{
    width:138px;
    height:56px;
    border:0px;
    background-color:transparent;
    background-image: url('button_submit.png');
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
    font-family: 'noto_bold';
    
}

#contact_form #submit:hover, #contact_form #submit:active{
    cursor:pointer;
    opacity:0.8;
}

#contact_pic{
    display:flex;
    justify-content: center;
    align-items: center;
}

.contact_img{
    width:90%;
    border:4px solid #1e597e;
  
}





/* -------- footer -------- */
footer{
    border-top:3px solid #2a4155;
    width:100%;
    height:40px;
    min-height: 30px;
    margin-top:0px;
    background-color:#32738C;
    text-align:center;
}

#footer_p{
    font-size:16px;
    color:white;
    font-family:'aleo_italic';
}

/* -------- animation classes -------- */

.roll_picture{
    transition: transform 2s;
    transform-origin: 50% 50%;
    transform: rotateY(360deg); 
}

.offer:hover .offer_pic img{
    animation-name: wave;
    animation-duration: 1.5s;
    
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
      transform: scale(1);
    }
    6.25%{
        transform:scale(0.95);
    }
    12.5%{
        transform:scale(0.9);
    }
    18.75%{
        transform:scale(0.85);
    }
    25%{
        transform:scale(0.8);
    }
    31.25%{
        transform:scale(0.85);
    }
    37.5%{
        transform:scale(0.9);
    }
    43.75%{
        transform:scale(0.95);
    }
    50%{
        transform:scale(1);
    }
    56.25%{
        transform:scale(1.05);
    }
    62.5%{
        transform:scale(1.1);
    }
    68.75%{
        transform:scale(1.15);
    }
    75%{
        transform:scale(1.2);
    }
    81.25%{
        transform:scale(1.15);
    }
    87.5% {
      transform: scale(1.1);
    }
    93.75%{
        transform:scale(1.05);
    }
    100%{
        transform:scale(1);
    }
  }



/* -------- lightbox -------- */

.lightbox{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    display:none;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    
}


.visible{
    display:flex;
}

.of_none{
    overflow:hidden;
}

#lightbox-image{
    width:70%;
    max-width: 1000px;
}

/* -------- fonts -------- */

@font-face {
    font-family: noto_regular;
    src: url(NotoSans-Regular.ttf);
}

@font-face {
    font-family: noto_bold;
    src: url(NotoSans-Bold.ttf);
}

@font-face {
    font-family: noto_italic;
    src: url(NotoSans-Italic.ttf);
}

@font-face {
    font-family: aleo_italic;
    src: url(Aleo-Italic.ttf);
}

@font-face {
    font-family: odibee_regular;
    src: url(OdibeeSans-Regular.ttf);
}





/* animacje (zapisalem sobie na discordzie)

/* porobic sobie obrazy

