#box_index{
    height:1500px;
}

#content_index{
    width:1200px;
    height:90%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30% 10%;
    grid-template-areas: 
    "p1 p2"
    "welcome p3"
    "welcome p4"
    "b1 b1";
}

img{
    border:5px solid #32738C;
}

.pictures_index img{
    width:95%;
    
}

#p_back{
    background-color:#32738C;
    height:100%;
}